arrow
certifi
chardet
dj-database-url
dj-static
Django==1.10
gunicorn==19.4.5
psycopg2==2.6.1
django-paypal
django-watson
django-widget-tweaks
easy-thumbnails
idna
model-mommy
pagseguro
Pillow
python-dateutil
python-decouple
pytz==2018.5
requests
six
static3
urllib3
whitenoise
xmltodict
