arrow
certifi
chardet
dj-database-url
dj-static
Django==1.10
django-paypal
django-watson
django-widget-tweaks
easy-thumbnails
gunicorn
psycopg2
idna
model-mommy
pagseguro
Pillow
python-dateutil
python-decouple
pytz
requests
six=
static3
urllib3
whitenoise
xmltodict
